table {
    border: 1px solid #e9eaeb;
    width: 40vw;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

th {
    
    padding: 5px;
}

td {
    
    padding: 5px;
}

tr {
    border: 1px solid black;
    padding: 5px;
}

img {
    height: 20px;
    margin: auto;
}

.u {
    padding-left: 20px;
}